

.faq{

    
    min-height: 90vh;
    padding: 5rem 10rem;
    color: white;
    display: flex;
    flex-direction: column;

    h2{
        font-weight: lighter;
    }
    span{

        display: block;
        padding-bottom: 2rem;
        font-weight: lighter;
    }

    .questionBlocks{

        padding: 3rem 0rem;
        cursor: pointer;
    }
    
    .answer{

        padding: 2rem 0rem;

        p{
            padding: 1rem 0rem;
        }

       
    }
}

.questionBlocks::after{

    display: block;
    content: "";
    background: #cccccc;
    height: 0.2rem;
    margin: 2rem 0rem;
    width: 100%;
}


