
//variables




//mixins

@mixin flex($direction, $align, $justify) {

    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    
}


@import "../components/navBar/nav.styles"; //NAVBAR STYLES
@import "../components/aboutSection/aboutSection.styles";//ABOUT SECTION STYLES
@import "../components/serviceSection/serviceSection.styles";//SERVICES SECTION 
@import "../components/faqSection/faqSection.styles"; //FAQ SECTION STYLES
@import "../components/workSection/workSection.styles";//WORK SECTION STYKES
@import "../components/movieDetailSection/movieDetail.styles";//movie deets
@import "../components/contactUsSection/contact.style";//contact us section
@import "../components/awards/award.styles";//awards
@import "../components/wave/wave.styles";//waves line
@import "./mobile";
@import "./globals";//GLOBAL STYLES