nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 10rem;
  background: #282828;
}

nav #logo {
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  font-weight: lighter;
}

nav a {
  color: white;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-left: 10rem;
  position: relative;
}

.aboutContainer {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5rem 10rem;
  color: white;
}

.aboutText {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 5rem;
}

.aboutText h2 {
  font-weight: lighter;
}

.aboutImage {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.aboutImage img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hide {
  overflow: hidden;
}

.services {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5rem 10rem;
  color: white;
}

.servicesImage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.servicesImage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 80vh;
}

.servicesText {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10rem;
}

.servicesText h2 {
  font-weight: lighter;
  padding-bottom: 2rem;
}

.servicesText p {
  width: 70%;
  padding: 2rem 0rem 4rem 0rem;
}

.servicesText .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicesText .cardBlocks {
  -ms-flex-preferred-size: 20rem;
      flex-basis: 20rem;
}

.servicesText .cardBlocks .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicesText .cardBlocks .icons h3 {
  margin-left: 1rem;
  background: white;
  color: black;
  padding: 1rem;
}

.faq {
  min-height: 90vh;
  padding: 5rem 10rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.faq h2 {
  font-weight: lighter;
}

.faq span {
  display: block;
  padding-bottom: 2rem;
  font-weight: lighter;
}

.faq .questionBlocks {
  padding: 3rem 0rem;
  cursor: pointer;
}

.faq .answer {
  padding: 2rem 0rem;
}

.faq .answer p {
  padding: 1rem 0rem;
}

.answer::after {
  display: block;
  content: "";
  background: #cccccc;
  height: 0.2rem;
  margin: 2rem 0rem;
  width: 100%;
}

.workContainer {
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 10rem;
}

.workContainer h2 {
  padding: 1rem 0rem;
  color: white;
}

.movie {
  padding-bottom: 10rem;
}

.movie .line {
  height: 0.5rem;
  background: #cccccc;
  margin-bottom: 3rem;
}

.movie img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.fst {
  overflow: hidden;
}

.detailsContainer {
  color: white;
}

.headline {
  min-height: 90vh;
  padding-top: 20rem;
  position: relative;
}

.headline h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.headline img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.awardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 10rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imageDisplay {
  min-height: 50vh;
}

.imageDisplay img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.awardBlocks {
  padding: 5rem;
}

.awardBlocks h3 {
  font-size: 2rem;
}

.line {
  width: 100%;
  background: #23d997;
  height: 0.5rem;
  margin: 1rem 0rem;
}

p {
  padding: 2rem 0rem;
}

.wave {
  position: absolute;
  z-index: -1;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  font-family: 'Inter', sans-serif;
}

button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid #23d997;
  background: transparent;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button:hover {
  background: #23d997;
  counter-reset: white;
}

h2 {
  font-weight: lighter;
  font-size: 4rem;
}

h4 {
  font-weight: bold;
  font-size: 2rem;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
}

span {
  font-weight: bold;
  color: #23d997;
}

p {
  padding: 3rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
  line-height: 150%;
}
/*# sourceMappingURL=app.styles.css.map */